.nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
.btn-custom {
    backgroundColor: "darkblue";
    borderColor: "darkblue";
    margin-right: 15px;
}